<div class="flex" fxLayout="row">
     <!-- reminder  -->
     <img class="icon" src="../../../assets/image/add_alert_FILL0_wght400_GRAD0_opsz48.svg" alt="Remind Me">
     <img class="icon" src="../../../assets/image/person_add_FILL0_wght400_GRAD0_opsz48.svg" alt="Collabarator">
     <img class="icon" src="../../../assets/image/palette_FILL0_wght400_GRAD0_opsz48.svg" alt="Background Options">
     <img class="icon" src="../../../assets/image/image_FILL0_wght400_GRAD0_opsz48.svg" alt="image">
     <div (click)="archieve()">
          <img class="icon"  src="../../../assets/image/archive_FILL0_wght400_GRAD0_opsz48.svg" alt="Archive">

     </div>
     <!-- <img class="icon"  (click)="archieve()" src="../../../assets/image/archive_FILL0_wght400_GRAD0_opsz48.svg" alt="Archive"> -->
     <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/image/more_vert_FILL0_wght400_GRAD0_opsz48.svg" width="20px" height="20px"></button>     
     <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="delete()">Delete note</button>
          <button mat-menu-item>Change labels</button>
          <button mat-menu-item>Add drawing</button>
          <button mat-menu-item>Make a copy</button>
          <button mat-menu-item>Show checkboxes</button>
          <button mat-menu-item>Copy to google Docs</button>
          </mat-menu>
</div>