<div class="flex" fxLayout="row">
     <!-- reminder  -->
     <img class="icon" src="../../../assets/image/add_alert_FILL0_wght400_GRAD0_opsz48.svg" alt="Remind Me">
     <img class="icon" src="../../../assets/image/person_add_FILL0_wght400_GRAD0_opsz48.svg" alt="Collabarator">
     <img class="icon" src="../../../assets/image/palette_FILL0_wght400_GRAD0_opsz48.svg" alt="Background Options">
     <img class="icon" src="../../../assets/image/image_FILL0_wght400_GRAD0_opsz48.svg" alt="image">
     <img class="icon" src="../../../assets/image/archive_FILL0_wght400_GRAD0_opsz48.svg" alt="Archive">
     <img class="icon" src="../../../assets/image/more_vert_FILL0_wght400_GRAD0_opsz48.svg" alt="More Options">
</div>