
::ng-deep .my-custom-dialog-class {
  mat-dialog-container {
    padding: 0;
  }
}
.a{
  height: fit-content;
};

.note{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 280px;
  margin-left: 20px;
  height: 90px;
};

.displayNote{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
};