

// ::ng-deep .my-custom-dialog-class {
//     mat-dialog-container {
//       padding: 0 !important;
//     }
//   }
::ng-deep .my-custom-dialog-class {
  mat-dialog-container {
    padding: 0;
  }
}


.note{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 220px;
  margin-left: 20px;
  height: 100px;
}


.displayNote{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}