.borderStylelogin
{
  border: 1px solid #dadcdf;
  width: 500px;  
  margin-left: -10px;
  margin-top: 180px; 
  padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 20px;
    //align-content: center; 
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 2px;
    border: solid 1px black;
    border-radius: 15px;
    flex-wrap: wrap;
    flex-direction: column;
}
.designEmail
{
  width: 80%;
  padding-right: 40px;
  padding-left: 30px;
  cursor: pointer;
  flex-direction: column;
}
.Spaces .mat-form-field + .mat-form-field{
  margin-left: 10px;
  width: 100%;
  margin-top: 30px;
  flex-direction: column;
}
.Spacesforbutton 
{
  display: flex;
  gap: 20px 220px;
  width: 490px;
  color: blue;
  margin-top: 70px;
  font-size: medium;
  flex-wrap: wrap;
  // flex-direction: column;
  //justify-content: space-between;
}
.buttonStyleforCreate
{
  padding-left: 30px;
  border: 0px;
  color: blue;
  font-size: medium;
  background-color: transparent;
  flex-direction: column;
  cursor: pointer;
}
.buttonStyleforNext
{
  border: 0px;
  color: white;
  background-color: blue;
  height: 40px;
  width: 100px;
  margin-left: 14px;
  border-radius:10%;
  cursor: pointer;
}
.buttonStyleForForgot
{
  border: 0px;
  color: blue;
  font-size: small;
  background-color: transparent;
  padding-left: 30px;
}
// @media screen and (min-width:600px) {
//   .borderStylelogin {
//     flex-direction: column;
//     display: flex;
   
//   }

 
// }
// @media screen and (max-width: 1127px) {
//   // .main {
//   //   flex-direction:column-reverse; /* change the direction of the container */
//   // }
//   // .designEmail{
//   //   flex-direction: column-reverse;
//   // }
//   .borderStylelogin{
//     display: flex;
//     flex-direction: row;
//   }
// }