    <div fxLayout="row wrap" [style.background]="bgColor" style="padding-left: 5px;margin: 0px; ">
      <div fxLayout="column" fxLayoutAlign="space-around center" class="Displaynote" [style.background]="bgColor">
    
        <input type="text" placeholder="Title" class="title" [(ngModel)]="title">
        <input type="text" placeholder="description" class="desc" [(ngModel)]="description">
    
        <div style="display: flex;">
          <app-icons class="icon" (updateEvent)="updateMessage($event)" [notedata]="data" ></app-icons>
          <button (click)="onNoClick()" class="update">update</button>
        </div>
      </div>
    </div>