
    <div fxLayout="column"  fxLayoutAlign="space-around center" class="noteDisplaySetting"  [style.background]="bgColor">
 
     <input type="text" placeholder="Title" style="font-size: larger;height: 20px;width: 100%;background-color: transparent;border: none;" [(ngModel)]="title">
     <input type="text" placeholder="description" style="font-size: medium;margin-top: 10px;height: 20px;width: 100%;background-color: transparent;"[(ngModel)]="description">
 
     <div style="display: flex;"  [style.background]="data.bgcolor" >
       <app-icons [notedata]="data" style="margin-top: 30px;" ></app-icons>
       <button style="height: 25px;" (click)="onNoClick()" class="closeButton">update</button>      
     </div>
    </div>
   
     
   